body {
    margin: 0;
    font-family: "Roboto", sans-serif;

    font-size: 32px;
    line-height: 1.6;
    color: #efeaea;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #23201d;
}

h1 {
    margin: 0;
}

.Doc {
    margin-left: 30px;
}

.bobr_img {
    text-align: right;
}
